.random-question-container {
  background-color: white;
  border: 1px solid #e0d9f5;
  border-radius: 0.75rem;
  padding: 1.875rem;
  margin: 1.875rem auto;
  max-width: 80%;
  box-shadow: 0 0.375rem 1.25rem rgba(106, 27, 154, 0.1);
}

.random-question-container p {
  font-size: 1.2rem;
  color: #4a0072;
  margin-bottom: 1.25rem;
  text-align: center;
  font-style: italic;
}

.random-question-container h2 strong {
  color: #3c085c;
}

.random-question-container button {
  padding: 0.75rem 1.25rem;
  font-size: 1.25rem;
  font-weight: bold;
  background-color: #6a1b9a;
  color: white;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
  display: block;
  margin: 0 auto;
}

.random-question-container button:hover {
  background-color: #4a0072;
}
